.meta-detail
{
    color: #008000;
}

a
{
    text-decoration: none;
}

.paren_list
{
    counter-reset: list;
}

.paren_list > li
{
    list-style: none;
}

.paren_list > li::before
{
    content: counter(list) ") ";
    counter-increment: list;
}

.monospace
{
    font-family: monospace;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.module-section > tbody > tr:last-child {
    border-color: transparent;
}